#review{
    position: absolute;
    z-index: 5;
    top:0;
    bottom:0;
    width:400px;
    right:-400px;
    background-color: rgba(255,255,255,0.8);
    transition: right 0.5s;
    overflow: hidden;
}
#title{
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 5px;
}
#title:hover{
    cursor: pointer;
}