html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: 100%;
}

#review{
    position: absolute;
    z-index: 5;
    top:0;
    bottom:0;
    width:400px;
    right:-400px;
    background-color: rgba(255,255,255,0.8);
    transition: right 0.5s;
    overflow: hidden;
}
#title{
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 5px;
}
#title:hover{
    cursor: pointer;
}
#headder{
    height: 100px;
    width: 100%;
    background-color: #ff9900;
}
#location,#review_details{
    padding: 10px;
}
#location_name{
    font-size: 3em;
}
#review_star,#review_description{
    padding-left: 20px;
    padding-right: 20px;
}
